@import "../../_Partials/Partials";

.demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0rem 2rem;
  background-color: black;

  &__h4 {
    color: $mint;
  }

  &__jumbo {
    background-image: url("../../Assets/mike-petrucci-c9FQyqIECds-unsplash.jpg");
  }

  &__img {
    width: 12.5rem;
    height: 10rem;
    border-radius: 10px;
  }

  &__img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40rem;
    align-items: center;
    justify-content: space-around;
  }

  &__button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #89cff0;
    color: $mint;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:hover,
  button:focus {
    background: rgb(184, 249, 225);
    color: $mint;
  }

  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  button:active {
    transform: scale(0.99);
  }
}
.video {
  outline: none;
  border: none;

  &:active {
    outline: none;
    border: none;
  }
}

.demo__shoes-header {
  margin-bottom: 3rem;
}
