@import "../../_Partials/Partials";

.container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background-color: black;

  justify-content: space-around;

  &__card {
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 20rem;
    box-shadow: 3px 2px 5px 2px $mint;
    width: 15rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  img {
    height: 10rem;
    width: 110%;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;

    background-color: black;
    text-shadow: 1px 2px 0 white;
    border-bottom: $mint 1rem solid;
    margin-bottom: -0.5rem;
    padding-left: 3rem;
  }

  &__button {
  }

  .container1__button:hover {
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    $neon,
    #20c997,
    #48ff00,
    #00ffd5,
    lightgreen
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: gray;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#vans {
  background-image: url("../../Assets/adidas\ shoes.webp");
}

// .under {
//   height: 20%;
// }
