@import "../../_Partials/Partials";

#carousel {
  border-radius: 5px;

  display: flex;
}

h3 {
  color: rgb(8, 197, 128);
}

.item {
  height: 20rem;
}

.image {
  height: 30rem;
  width: 100%;
  overflow: scroll;
  border-radius: 5px;
  object-fit: cover;

  &2 {
    height: 100%;
    width: 100%;
  }

  &3 {
    height: 100%;
    width: 100%;
  }
}

.home {
  background-color: black;
  padding: 1rem 1rem;

  &__intro {
    height: 25rem;
    padding-top: 120px;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  &__demo {
    height: 12rem;
    background-color: #235789;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    box-sizing: border-box;
  }

  &__demo-img {
    height: 8rem;
  }

  &__demo-left {
    height: 100%;
    display: flex;
    width: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  &__demo-left-title {
    margin-bottom: 1rem;
  }

  &__title {
    margin-top: 3rem;
  }

  //   break-point

  &__store {
    height: 12rem;
    background-color: #dee2ff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;

    box-sizing: border-box;
  }

  &__store-img {
    height: 8rem;
  }

  &__store-right {
    height: 100%;
    display: flex;
    width: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  &__store-right-title {
    margin-bottom: 1rem;
  }
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: $mint;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: rgb(184, 249, 225);
  color: $mint;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.jumbotron {
  background-image: url("../../Assets/wassim-chouak-zH2ZWyKztNY-unsplash.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-shadow: 2px 2px 1px gray;

  margin-top: 2rem;

  p {
    font-weight: 500;
  }
  h3,
  p {
    text-shadow: 2px 2px 1px gray;
  }
  &2 {
    background-image: url("../../Assets/shoe\ stores.jpeg");
  }

  &3 {
    background-image: url("../../Assets/laceless\ shoes.jpeg");
  }
}
