
@import "../../_Partials/Partials";

.not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 9rem 1rem;
  height: 70vh;

  align-items: center;

  &__img {
    width: 18rem;
    margin-top: 1rem;
  }

  &__link{
color: $mint;
text-decoration: none;
  }
}
