@import "../../_Partials/Partials";

.shoe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;

  &-img {
    height: 7.5rem;
    width: 10rem;
    margin: 3rem;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

#shoe__marker-img {
  height: 3rem;
  width: 3rem;
}

h4 {
  color: $mint;
}

#nike-slip {
  width: 17rem;
  height: 6.5rem;
}

#vans {
  width: 15rem;
  height: 8rem;
}

#phantom {
  height: 15rem;
  width: 17rem;
  margin: 0;
}
