@import "../../_Partials/Partials";

.shoe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 1rem;

  &-img {
    height: 7.5rem;
    width: 10rem;
    margin: 3rem;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

#shoe__marker-img {
  height: 3rem;
  width: 3rem;
}

h4 {
  color: $mint;
}

#nike-slip {
  width: 17rem;
  height: 6.5rem;
}

#vans {
  width: 15rem;
  height: 8rem;
}

#phantom {
  height: 15rem;
  width: 17rem;
  margin: 0;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  &1 {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &3 {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: lightblue 1px solid;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  &2 {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;

    h5 {
      margin: 0;
    }
  }

  h5 {
    color: lightblue;
  }
}
h1 {
  color: $mint;
}

.store__header {
  color: lightblue;
}
