* {
  margin: 0;
  padding: 0;
  font-family: "all-text";
}
@font-face {
  font-family: "Logo";
  src: url("../Assets/OrelegaOne-Regular.ttf") format("woff2"),
    url("../Assets/OrelegaOne-Regular.ttf") format("woff");
}
@font-face {
  font-family: "all-text";
  src: url("../Assets/Josefin_Sans/static/JosefinSans-Bold.ttf") format("woff2"),
    url("../Assets/Josefin_Sans/static/JosefinSans-Bold.ttf") format("woff");
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

$light-blue: #7c9eb2;
$light-purple: #52528c;
$medium-purple: #372554;
$dark-purple: #231123;
$navy: #02064a;
$neon: #50d8be;
$peach: #ffbd59;
$mint: rgb(24.3%, 70.6%, 53.7%);
