@import "../../_Partials/Partials";
#nav {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: 120px;
  background-color: $navy;
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;

  &__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    width: 80%;
    color: $light-blue;
    justify-content: space-between;
  }

  #li {
    text-decoration: none;
  }
}

#nav__logo {
  height: 60px;
  width: 60px;
}
#header {
  color: rgb(24.3%, 70.6%, 53.7%);
  font-family: "all-text";
}

#menu {
  color: rgb(36, 156, 112);
}

.is-active {
  font-weight: 700;
  color: white;
}
