@import "../../_Partials/Partials";

.text {
  color: white;
}

img {
  height: 2rem;
  width: 2rem;
}

.store__marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.popup {
  height: 3rem;
  width: 17rem;
}
